h1 {
    color: #c5db45;
    font-family: 'Arial', sans-serif;
}
h2 {
    color: #090c9e;
    font-family: 'Arial', sans-serif;
}
h3 {
    color: #6d2b74;
    font-family: 'Arial', sans-serif;
}
* {
    background-color: rgba(12, 207, 233, 0.178);   
}

.element {
    background-image: url('Sources/images/hibiscus2.png'); /* Replace with your image URL */
    background-color: rgba(255, 255, 255, 0.6); /* White overlay with 60% opacity */
    background-blend-mode: lighten; /* Blends the color with the image */
    /* Other styles like width, height, etc. */
}

