h1 {
    color: #c5db45;
    font-family: 'Arial', sans-serif;
}
h2 {
    color: #090c9e;
    font-family: 'Arial', sans-serif;
}
h3 {
    color: #6d2b74;
    font-family: 'Arial', sans-serif;
}
* {
    background-color: rgb(207, 198, 185);   
}
